<!-- Toolbar -->
<div class="toolbar" role="banner">
</div>

<div class="content" role="main">
    <!-- Highlight Card -->
    <div class="card highlight-card">
        <span>Built Code Challenge</span>
    </div>

    <!-- Next Steps -->
    <p>Which pill do you want to take, Neo?</p>

    <div class="card-container"><a href="/list-doctors">
            <div class="card pill-red" tabindex="0">
                <span>Doctors</span>
            </div>
        </a>

        <a href="/list-patients">
            <div class="card pill-blue" tabindex="0">
                <span>Patients</span>
            </div>
        </a>
    </div>

    <router-outlet></router-outlet>