<h2>Register - Doctor</h2>
<form class="row g-3" autocomplete="off" novalidate #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="doctorId" [value]="service.formData.id" />
  <div class="col-md-4">
    <label for="doctorName" class="form-label">Name</label>
    <input type="text" class="form-control" id="doctorName" minlength="1" maxlength="254" name="name" #name="ngModel"
      [(ngModel)]="service.formData.name" [class.invalid]="name.invalid && name.touched" required>
  </div>
  <div class="col-md-4">
    <label for="crmDoctor" class="form-label">CRM</label>
    <input type="text" class="form-control" id="crmDoctor" name="crm" #crm="ngModel" [(ngModel)]="service.formData.crm"
      minlength="6" maxlength="6" [class.invalid]="crm.invalid && crm.touched"
      onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
  </div>
  <div class="col-md-4">
    <label for="ufList" class="form-label">UF</label>
    <input class="form-control" list="ufListOptions" id="ufList" placeholder="Type to search..." name="crmUf"
      #crmUf="ngModel" [(ngModel)]="service.formData.crmUf" [class.invalid]="crmUf.invalid && crmUf.touched" required>
    <datalist id="ufListOptions">
      <option *ngFor="let uf of ufs" value="{{uf.id}}">
    </datalist>
  </div>
  <div class="col-12">
    <button class="btn btn-danger btn-cancel" type="button" (click)="cancelDialog();">Cancel</button>
    <button class="btn btn-success" type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>